<% gallery = kpi.gallery_by_itinerary_id(@itinerary.id) %>
<% if gallery.size > 0 %>
<br>
<div class="row gallery-row hidden-print">
  <% gallery.each_with_index do |picture, index| %>
    <% if index % 4 == 0  %>
    <div class="clearfix"></div>
    <% end %>
    <div class="photo col-xs-2 ">
      <div class="photo-inner"  >
        <div class="photo-header">
          <a ng-href="#" data-fancybox-group="gallery" ng-click='openBox("<%= picture.url %>")' fancybox  class="fancybox" >
            <img src="<%= picture.url %>">
          </a>
        </div>
        <div class="photo-footer">
          <p><%= picture.title %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
