<table width="100%" class="table">
  <tr>
    <th colspan="2">PERGUNTA</th>
    <th>CRITÉRIO</th>
    <th>RESPOSTA</th>
    <th>PONTOS</th>
  </tr>
  <tbody>
  <% kpi.superquestions.each do |question| %>
    <% points =  @itinerary.points.where(question_id: question.id).map(&:value).first.to_i %>
    <% rules =  question.rules %>
    <tr>
      <td colspan="2"><%= question.title %></td>
      <td><%= rules.map(&:expected).join(", ") %></td>
      <td><%= points.zero? ? rules.map(&:not_expected).join(", ") : rules.map(&:expected).join(", ") %></td>
      <td><%= points %></td>
    </tr>

      <% question.subquestions.each do |children_question| %>
          <% points =  @itinerary.points.where(question_id: question.id).map(&:value).first.to_i %>
          <% rules =  children_question.rules %>
        <tr>
          <td></td>
          <td><%= children_question.title %></td>
          <td><%= rules.map(&:expected).join(", ") %></td>
          <td><%= points.zero? ? rules.map(&:not_expected).join(", ") : rules.map(&:expected).join(", ") %></td>
          <td><%= points %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">TOTAL DE PONTOS</td>
        <td><%= kpi.total_points_by_itinerary(@itinerary).to_i %></td>
      </tr>
    </footer>
  </table>
