<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="box box-default">
      <div class="box-head box-head-default">
        <h3 class="box-title">KPIs</h3>
      </div>

      <div class="box-body box-body-default">
        <ul class="nav nav-tabs" role="tablist">
          <% @kpi.each_with_index do |kpi, index| %>
          <li class='<%= index.zero? ? 'active' : '' %>'><a href="#<%= kpi.id %>" role="tab" data-toggle="tab"><%= kpi.name %></a></li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% @kpi.each_with_index do |kpi, index| %>
          <div id="<%= kpi.id %>" class="tab-pane fade in  <%= index.zero? ? 'active' : '' %>">
            <%= render 'kpi_questions', kpi: kpi %>
            <%= render 'kpi_gallery', kpi: kpi %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
