<div class="box box-default">
  <div class="box-head box-head-default">
    <h3 class="box-title">LOJAS</h3>
  </div>
  <div class="box-body box-body-default">
    <div class="table-responsive">
      <table class="table table-hover list-stores ">
        <thead>
          <tr>
            <th class="center">LOJAS</th>
            <th class="center">ESTADO</th>
            <th class="center">CIDADE</th>
          </tr>
        </thead>
        <tbody ng-repeat="row in data">
          <tr>
            <td class="center"><a target="_blank" href="/itineraries/{{row.id}}">{{row.store}}</a></td>
            <td class="center"><a target="_blank" href="/itineraries/{{row.id}}">{{row.state_code}}</a></td>
            <td class="center"><a target="_blank" href="/itineraries/{{row.id}}">{{row.city}}</a></td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <nav>
          <pagination total-items="bigTotalItems" previous-text="❮"  next-text="❯" items-per-page="perPage" ng-model="bigCurrentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </nav>
      </div>
    </div>
  </div>
</div>
