<div id="sb-site" ng-controller="ItinerarySheetCtrl" ng-init="loadInfo(<%= @itinerary.pos_tax_code %>)">
  <div class="sub-navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="sub-navbar-inner"><i class="sub-navbar-icon icon-local"></i>
            <h2 class="sub-navbar-title">LOJA</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content content-gray">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="box">
            <div class="box-head box-head-default">
              <h3 class="box-title"><%= @itinerary.pos_tax_code %> - <%= @itinerary.store %></h3>
              <ul class="box-tools">
                <li role="presentation">
                  <a href="#" ng-click='print()' class="download" >
                    <i class="icon-print hidden-print"></i><span class="sr-only">Download</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="box-body box-body-default">
              <div class="row">
                <div class="col-xs-4 col-lg-4">
                  <div class="head-photo">
                    <a data-fancybox-group="head-photo" fancybox  class="fancybox" >
                      <img src="<%= @itinerary_gallery['front'] %>" class="image-dimensions">
                    </a><br>
                  </div>
                </div>
                <div class="col-xs-4 col-lg-4">
                  <ul class="list-unstyled">
                    <li><b>SEGMENTO PDV: </b><%= @itinerary.segment %></li>
                    <li><b>ENDEREÇO: </b>  <%= @itinerary.address %> <%= @itinerary.city %> <%= @itinerary.state_code %></li>
                    <li><b>DATA DA AUDITORIA: </b><%= l @itinerary.execution_date_time, format: :long %></li>
                    <li><b>MSL: </b><%= @itinerary.msl.map { |k, v| "#{k}: #{number_to_percentage(v*100, precision: 0)}" }.join(', ') %></li>
                  </ul>
                </div>
                <div class="col-xs-4 col-lg-4">
                  <img src="/assets/TRACKING.png" alt="LOGO TT" class="logo-tracking"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-xs-4">
          <div class="box box-default">
            <div class="box-head box-head-default">
              <h3 class="box-title small-box-title">SHELF SPACE INSETICIDAS</h3>
            </div>
            <div class="box-body box-body-default">
              <nvd3-multi-bar-chart
                data="data_bugspray"
                id="data_bugspray"
                height="350"
                showXAxis="true"
                showYAxis="true"
                yAxisTickFormat="percentageYAxisLabelFunction()"
                tooltips="false"
                tooltipcontent="toolTipContentFunctionBugspray()"
                showValues="true"
                valueFormat="valueFormatPercentageFunction()"
                showControls="false"
                showLegend="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="box box-default">
            <div class="box-head box-head-default">
              <h3 class="box-title small-box-title">SHELF SPACE LIMPADORES</h3>
            </div>
            <div class="box-body box-body-default">
              <nvd3-multi-bar-chart
                data="data_cleaner"
                id="data_cleaner"
                height="350"
                showXAxis="true"
                showYAxis="true"
                yAxisTickFormat="percentageYAxisLabelFunction()"
                tooltips="false"
                tooltipcontent="toolTipContentFunctionCleaner()"
                showValues="true"
                valueFormat="valueFormatPercentageFunction()"
                showControls="false"
                showLegend="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="box box-default">
            <div class="box-head box-head-default">
              <h3 class="box-title small-box-title">SHELF SPACE ALVEJANTES</h3>
            </div>
            <div class="box-body box-body-default">
              <nvd3-multi-bar-chart
                data="data_bleach"
                id="data_bleach"
                height="350"
                showXAxis="true"
                showYAxis="true"
                stacked="false"
                yAxisTickFormat="percentageYAxisLabelFunction()"
                tooltips="false"
                tooltipcontent="toolTipContentFunctionBleach()"
                showValues="true"
                valueFormat="valueFormatPercentageFunction()"
                showControls="false"
                showLegend="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="box box-default">
            <div class="box-head box-head-default">
              <h3 class="box-title small-box-title">LOCALIZAÇÃO INSETICIDAS</h3>
            </div>
            <div class="box-body box-body-default">
              <nvd3-multi-bar-chart
                data="data_by_bugspray"
                id="data_by_bugspray"
                height="350"
                showXAxis="true"
                showYAxis="true"
                stacked="false"
                yAxisTickFormat="yAxisFormatFunction()"
                tooltips="true"
                tooltipcontent="toolTipContentFunctionBugspray()"
                showValues="true"
                valueFormat="valueFormatPercentageFunction()"
                showControls="false"
                showLegend="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="box box-default">
            <div class="box-head box-head-default">
              <h3 class="box-title small-box-title">LOCALIZAÇÃO LIMPADORES</h3>
            </div>
            <div class="box-body box-body-default">
              <nvd3-multi-bar-chart
                data="data_by_cleaner"
                id="data_by_cleaner"
                height="350"
                showXAxis="true"
                showYAxis="true"
                stacked="false"
                yAxisTickFormat="yAxisFormatFunction()"
                tooltips="true"
                tooltipcontent="toolTipContentFunctionCleaner()"
                showValues="true"
                valueFormat="valueFormatPercentageFunction()"
                showControls="false"
                showLegend="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="box box-default">
            <div class="box-head box-head-default">
              <h3 class="box-title small-box-title">LOCALIZAÇÃO ALVEJANTES</h3>
            </div>
            <div class="box-body box-body-default">
              <nvd3-multi-bar-chart
                data="data_by_bleach"
                id="data_by_bleach"
                height="350"
                showXAxis="true"
                showYAxis="true"
                stacked="false"
                yAxisTickFormat="yAxisFormatFunction()"
                tooltips="true"
                tooltipcontent="toolTipContentFunctionBleach()"
                showValues="true"
                valueFormat="valueFormatPercentageFunction()"
                showControls="false"
                showLegend="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="row hidden-print">
        <div class="col-xs-12 col-lg-12">
          <div class="box box-default">
            <div class="box-head box-head-default">
              <h3 class="box-title">PREÇO</h3>
            </div>
            <div class="box-body box-body-default">
              <div id="accordion" aria-multiselectable="true" role="tablist" class="panel-group">

                <div ng-repeat="(group, models) in price_assortment">
                  <div class="panel panel-default">
                    <div id="price_heading01" role="tab" class="panel-heading">
                      <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#{{group.substr(0, 2)}}_collapse{{$index}}" aria-controls="{{group.substr(0, 2)}}_collapse{{$index}}" aria-expanded="true" class="collapsed">
                        {{group}}<i class="icon-arrow-down"></i></a></h4>
                    </div>
                  </div>
                  <div id="{{group.substr(0, 2)}}_collapse{{$index}}" aria-labelledby="price_heading01" role="tabpanel" class="panel-collapse collapse">
                    <div class="panel-body">
                      <table class="table table-bordered table-hover table-accordion">
                        <thead ng-show="$index == 0">
                          <tr>
                            <th class="center" style="width: 300px">BRAND</th>
                            <th class="center" style="width: 300px">SKU</th>
                            <th ng-repeat="cycle in cycles" class="center">{{cycle}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="(model, vals) in models">
                            <td class="center" style="width: 300px"><small>{{vals[0][0]}}</small></td>
                            <td class="center" style="width: 300px"><small>{{model}}</small></td>
                            <td ng-repeat="cycle in cycles" class="center">
                              <div ng-repeat="val in vals" ng-if="cycle == val[1]">
                                <small >{{val[2]}}</small>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <% if @itinerary_occurrence != 'SEM OCORRÊNCIA' %>
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <div class="box">
              <div class="box-head box-head-default">
                <h3 class="box-title">OCORRÊNCIA</h3>
              </div>
              <div class="box-body box-body-default">
                <div class="table-responsive">
                  <table class="table table-hover table-index">
                    <tbody>
                      <tr>
                        <td class=""><%= @itinerary_occurrence %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if @itinerary_gallery['extra_points'].present? %>
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <div class="box">
              <div class="box-head box-head-transparent">
                <h3 class="box-title">FOTOS DE PONTO EXTRA</h3>
              </div>
              <div class="row">
                <% @itinerary_gallery['extra_points'].each do |picture| %>
                  <div class="photo col-xs-2 ">
                    <div class="photo-inner"  >
                      <div class="photo-header">
                        <a ng-href="#gallery" data-fancybox-group="gallery" ng-click="openBox('<%= picture[0] %>')" fancybox  class="fancybox" >
                          <img src="<%= picture[0] %>">
                        </a>
                      </div>
                      <div class="photo-footer">
                        <p><%= picture[1] %></p>
                        <p><%= picture[2] %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="box">
            <div class="box-head box-head-transparent">
              <h3 class="box-title">GALERIA DE FOTOS</h3>
            </div>
            <div class="row">
              <% @itinerary_gallery['gallery'].each do |picture| %>
              <div class="photo col-xs-2 ">
                <div class="photo-inner"  >
                  <div class="photo-header">
                    <a ng-href="#gallery" data-fancybox-group="gallery" ng-click="openBox('<%= picture[0] %>')" fancybox  class="fancybox" >
                      <img src="<%= picture[0] %>">
                    </a>
                  </div>
                  <div class="photo-footer">
                    <p><%= picture[1] %></p>
                    <p><%= picture[2] %></p>
                    <p><%= picture[3] %></p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
