<span class="total">
  <span class="pull-left text">{{total_visits}}/{{total_stores}} STORES &nbsp;</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{total_percentage}}%;">
      {{total_percentage}}%
    </div>
  </div>
</span>
<div class="box box-transparent">
  <div class="box-body box-body-transparent">
    <div class="row">

      <div class="col-xs-4">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title">INSETICIDAS</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('shelf_bugspray')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_bugspray"
              id="data_bugspray"
              height="350"
              showXAxis="true"
              showYAxis="true"
              yAxisTickFormat="percentageYAxisLabelFunction()"
              tooltips="false"
              tooltipcontent="toolTipContentFunctionBugspray()"
              showValues="true"
              valueFormat="valueFormatFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title">LIMPADORES</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('shelf_cleaner')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_cleaner"
              id="data_cleaner"
              height="350"
              showXAxis="true"
              showYAxis="true"
              yAxisTickFormat="percentageYAxisLabelFunction()"
              tooltips="false"
              tooltipcontent="toolTipContentFunctionCleaner()"
              showValues="true"
              valueFormat="valueFormatFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title">ALVEJANTES</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('shelf_bleach')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_bleach"
              id="data_bleach"
              height="350"
              showXAxis="true"
              showYAxis="true"
              yAxisTickFormat="percentageYAxisLabelFunction()"
              tooltips="false"
              tooltipcontent="toolTipContentFunctionBleach()"
              showValues="true"
              valueFormat="valueFormatFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
