<!-- <div ng-controller="MapCtrl" > -->
  <!-- google map -->

  <div class="row box">
      <a href="https://s3.amazonaws.com/reckitt-production/BASE_GERAL/FULL+DATABASE.xlsx" class="btn btn-b pull-left">DADOS PARA BAIXAR</a>
  </div>

  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map_options" bounds="map.bounds">
     <ui-gmap-markers models="map.markers" icon="'icon'" coords="'coords'" click="'onClick'" doCluster="true"  ></ui-gmap-markers>
  </ui-gmap-google-map>

  <!-- google map -->
<!-- </div> -->
