<div id="stores-modal" class="modal fade" role="dialog" style="padding-top: 50px;">
  <div class="modal-dialog" style="z-index: 1051 !important;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Lojas | {{stores_location.city}} - {{stores_location.state_code}}</h4>
      </div>
      <div class="modal-body">
        <div>

          <div ng-repeat="store in current_stores | orderBy: 'name'" class="list-group">
            <a ng-show="store.type == 'LOJA'" href="/itineraries/{{store.id}}" target="_blank" class="list-group-item">
              <h4 class="list-group-item-heading">{{store.id}} - {{store.name}} - {{store.type}}</h4>
            </a>
            <a ng-show="store.type == 'COMPRADOR MISTERIOSO'" href="/buyer_itineraries/{{store.id}}" target="_blank" class="list-group-item">
              <h4 class="list-group-item-heading">{{store.id}} - {{store.name}} - {{store.type}}</h4>
            </a>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
