<div id="collapse-tags" class="tags collapse">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tags-inner">
          <!-- <h4 ng-if="!angular.equals({}, filters)"><%= t("graphs.filters.no_filter_selected")%></h4> -->
          <div class="tag-silo">
            <button ng-click="clearFilters()" type="button" class="tag">Limpar Filtros</button>
          </div>
          <div ng-repeat="value in filters.filter.itineraries.state_code.string" class="tag-silo">
            <button ng-click="removeFilter(filters, value)" type="button" class="tag">Estado: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.itineraries.city.string" class="tag-silo">
            <button ng-click="removeFilter('cities', value)" type="button" class="tag">Cidade: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.itineraries.store.string" class="tag-silo">
            <button ng-click="removeFilter('stores', value)" type="button" class="tag">Loja: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.itineraries.segment.string" class="tag-silo">
            <button ng-click="removeFilter('segments', value)" type="button" class="tag">Segmento: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.itineraries.economic_group.string" class="tag-silo">
            <button ng-click="removeFilter('economic_groups', value)" type="button" class="tag">Grupo: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.itineraries.retail.string" class="tag-silo">
            <button ng-click="removeFilter('retails', value)" type="button" class="tag">Rede: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.itineraries.area_manager.string" class="tag-silo">
            <button ng-click="removeFilter('area_managers', value)" type="button" class="tag">Gerente: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.item_features.category.string" class="tag-silo">
            <button ng-click="removeFilter('categories', value)" type="button" class="tag">Categoria: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.item_features.subcategory.string" class="tag-silo">
            <button ng-click="removeFilter('subcategories', value)" type="button" class="tag">Subcategoria: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.item_features.manufacturer.string" class="tag-silo">
            <button ng-click="removeFilter('manufacturers', value)" type="button" class="tag">Fabricante: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.item_features.brand_2.string" class="tag-silo">
            <button ng-click="removeFilter('brands', value)" type="button" class="tag">Marca: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
          <div ng-repeat="value in filters.filter.item_features.sku.string" class="tag-silo">
            <button ng-click="removeFilter('skus', value)" type="button" class="tag">SKU: {{value}}<!-- <i class="icon-close"></i> --></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
