<div class="sub-navbar-kpis" ng-controller="FilterCtrl" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <div class="col-xs-1 col-lg-1">
          </div>

          <div class="col-xs-2 col-lg-2">
            <div class="box" id="door_box">
                <div class="box-head-lighthouse box-head">
                  <h3 class="box-title-lighthouse">ATENDIMENTO</h3>
                </div>
                <div class="box-body box-body-lighthouse">
                  <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.kpis.name.kpi_less_than_70_percent" value="ATENDIMENTO">
                  <i class="icon-line icon-atendimento red-icon"></i>
                </div>
            </div><!-- box-->
          </div>

          <div class="col-xs-2 col-lg-2">
            <div class="box" id="door_box">
                <div class="box-head-lighthouse box-head">
                  <h3 class="box-title-lighthouse">COMUNICAÇÃO VISUAL</h3>
                </div>
                <div class="box-body box-body-lighthouse">
                  <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.kpis.name.kpi_less_than_70_percent" value="COMUNICAÇÃO VISUAL">
                  <i class="icon-line icon-comunicacao_visual red-icon"></i>
                </div>
            </div><!-- box-->
          </div>

          <div class="col-xs-2 col-lg-2">
            <div class="box" id="door_box">
                <div class="box-head-lighthouse box-head">
                  <h3 class="box-title-lighthouse">INSTALAÇÕES</h3>
                </div>
                <div class="box-body box-body-lighthouse">
                  <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.kpis.name.kpi_less_than_70_percent" value="INSTALAÇÕES">
                  <i class="icon-line icon-manutencao red-icon"></i>
                </div>
            </div><!-- box-->
          </div>

          <div class="col-xs-2 col-lg-2">
            <div class="box" id="door_box">
                <div class="box-head-lighthouse box-head">
                  <h3 class="box-title-lighthouse">LIMPEZA</h3>
                </div>
                <div class="box-body box-body-lighthouse">
                  <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.kpis.name.kpi_less_than_70_percent" value="LIMPEZA">
                  <i class="icon-line icon-cleaner red-icon"></i>
                </div>
            </div><!-- box-->
          </div>


          <div class="col-xs-2 col-lg-2">
            <div class="box" id="door_box">
                <div class="box-head-lighthouse box-head">
                  <h3 class="box-title-lighthouse">PRODUTO</h3>
                </div>
                <div class="box-body box-body-lighthouse">
                  <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.kpis.name.kpi_less_than_70_percent" value="PRODUTO">
                  <i class="icon-line icon-medicine red-icon"></i>
                </div>
            </div><!-- box-->
          </div>

        </div>
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </div>  <!-- sub-navbar-kpis -->
