<span class="total">
  <span class="pull-left text">{{total_visits}}/{{total_stores}} LOJAS &nbsp;</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{total_percentage}}%;">
      {{total_percentage}}%
    </div>
  </div>
</span>
<div class="box box-transparent">
  <div class="box-body box-body-transparent">

    <div class="row">
      <div class="col-xs-6">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title">PONTOS EXTRA POR MARCA</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('extra_point_by_brand')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_by_brand"
              id="data_by_brand"
              height="350"
              showXAxis="true"
              showYAxis="true"
              stacked="false"
              yAxisTickFormat="yAxisFormatFunction()"
              tooltips="true"
              tooltipcontent="toolTipContentFunction()"
              showValues="true"
              valueFormat="valueFormatFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title">PONTOS EXTRA POR TIPO</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('extra_point_by')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_by_extra_point"
              id="data_by_extra_point"
              height="350"
              showXAxis="true"
              showYAxis="true"
              stacked="false"
              yAxisTickFormat="yAxisFormatFunction()"
              tooltips="true"
              tooltipcontent="toolTipContentFunction()"
              showValues="true"
              valueFormat="valueFormatFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title small-box-title">LOCALIZAÇÃO INSETICIDAS</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('extra_point_bugspray')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_by_bugspray"
              id="data_by_bugspray"
              height="350"
              showXAxis="true"
              showYAxis="true"
              stacked="false"
              yAxisTickFormat="yAxisFormatFunction()"
              tooltips="true"
              tooltipcontent="toolTipContentFunctionBugspray()"
              showValues="true"
              valueFormat="valueFormatPercentageFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title small-box-title">LOCALIZAÇÃO LIMPADORES</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('extra_point_cleaner')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_by_cleaner"
              id="data_by_cleaner"
              height="350"
              showXAxis="true"
              showYAxis="true"
              stacked="false"
              yAxisTickFormat="yAxisFormatFunction()"
              tooltips="true"
              tooltipcontent="toolTipContentFunctionCleaner()"
              showValues="true"
              valueFormat="valueFormatPercentageFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title small-box-title">LOCALIZAÇÃO ALVEJANTES</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <button class="download" ng-click="exportReport('extra_point_bleach')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button>
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_by_bleach"
              id="data_by_bleach"
              height="350"
              showXAxis="true"
              showYAxis="true"
              stacked="false"
              yAxisTickFormat="yAxisFormatFunction()"
              tooltips="true"
              tooltipcontent="toolTipContentFunctionBleach()"
              showValues="true"
              valueFormat="valueFormatPercentageFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
