<div id="sb-site" ng-controller="ExtraPointCtrl">
  <div class="sub-navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="sub-navbar-inner"><i class="sub-navbar-icon icon-presence"></i>
            <h2 class="sub-navbar-title">PONTO EXTRA E LOCALIZAÇÃO</h2>
            <button type="button" class="sub-navbar-filter sb-toggle-right">Filtro<i class="icon-filter icon-right"></i></button>
            <button type="button" class="sub-navbar-trigger"><i class="icon-arrow-up"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'partials/filter_result' %>

  <div class="content content-gray">
    <div class="container">
      <%= render 'list' %>
    </div>
  </div>
  <div class="sb-slidebar sb-right sb-style-push">
    <%= render 'filter' %>
  </div>
</div>
