<div class="box box-transparent">
<div class="box-head box-head-transparent">
  <h3 class="box-title">GALERIA DE FOTOS</h3>
</div>
<div class="box-body box-body-transparent">

    <div class="row">
      <!-- items -->
      <div class="gallery" ng-repeat-start="image in data"></div>
        <div class="clearfix" ng-if="$index%4==0"></div>


        <div class="photo col-xs-3">
          <div class="photo-inner">
            <div class="photo-header">
            <a ng-href="#" data-fancybox-group="gallery" ng-click="openBox(image.url)" fancybox  class="fancybox" >
              <img ng-src="{{image.url}}">
            </a>
            </div>
            <div class="photo-body">
              <h6 class="photo-title">{{image.store}}</h6>
              <div class="photo-footer">
                <p>{{image.title}}</p>
                <p>{{image.sku}}</p>
              </div>

            </div>
          </div>
        </div>

      <div ng-repeat-end=""></div>

    </div>

  </div>
</div>

<div class="pagination">
  <nav>
    <pagination total-items="bigTotalItems" previous-text="❮"  next-text="❯" items-per-page="perPage" ng-model="bigCurrentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
  </nav>
</div>
