<span class="total">
  <span class="pull-left text">{{total_visits}}/{{total_stores}} LOJAS &nbsp;</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{total_percentage}}%;">
      {{total_percentage}}%
    </div>
  </div>
</span>

<div class="box-body box-body-transparent">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-default">
        <div class="box-head box-head-default">
          <h3 class="box-title">PREÇO</h3>
            <ul class="box-tools">
              <li role="presentation">
                <button class="download" ng-click="exportReport('price')" >
                  <i class="icon-download"></i><span class="sr-only">Download</span>
                </button>
              </li>
            </ul>           
        </div>
        <div class="box-body box-body-default">

          <nvd3-line-chart
            data="data"
            id="data"
            height="400"
            showLegend="true"
            showXAxis="true"
            yAxisLabel="Price"
            xAxisLabel="Period"
            interactive="true"
            useInteractiveGuideline="true"
            tooltips="true"
            tooltipcontent="toolTipContentPriceFunction()"
            yAxisTickFormat="yAxisTickFormatPriceFunction()"
            yAxisShowMaxMin="false"
            forcey="{{y_axis_range}}"
            xAxisTickFormat="xAxisTickFormatPriceFunction()"
            margin="{ top: 20, right: 65, bottom: 40, left: 80 }"
            yAxisLabelDistance="4"
            showYAxis="true">
          </nvd3-line-chart>

        </div>
      </div>
    </div>
  </div>
</div>
