<div class="aside aside-right" ng-controller="FilterCtrl" >
  <ul class="filter">

    <li>
      <button ng-click="open('states')"><%= t('graphs.filters.states') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.states.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.states') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['states']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.state_code.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <button ng-click="open('cities')"><%= t('graphs.filters.cities') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.cities.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.cities') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['cities']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.city.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <button ng-click="open('segments')"><%= t('graphs.filters.segments') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.segments.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.segments') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['segments']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.segment.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <button ng-click="open('economic_groups')"><%= t('graphs.filters.economic_groups') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.economic_groups.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.economic_groups') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['economic_groups']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.economic_group.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <button ng-click="open('retails')"><%= t('graphs.filters.retails') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.retails.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.retails') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['retails']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.retail.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <button ng-click="open('stores')"><%= t('graphs.filters.stores') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.stores.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.stores') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['stores']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.store.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
        <br><br><br>
      </div>
    </li>

    <li>
      <button ng-click="open('area_managers')"><%= t('graphs.filters.area_managers') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.area_managers.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.area_managers') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['area_managers']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.area_manager.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
     <button ng-click="open('categories')"  ><%= t('graphs.filters.categories') %><i class="icon-arrow-right"></i></button>
     <div class="filter-level" ng-class="{'filter-level-open': status.categories.open}">
       <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
       <ul class="filter">

         <h6 class="filter-title">INSETICIDAS</h6>
         <li ng-repeat="value in options['bugsprays']">
           <div class="checkbox">
             <label>
               <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.item_features.subcategory.string" checklist-value="value"> {{value | uppercase}}
             </label>
           </div>
         </li>

         <h6 class="filter-title">LIMPADORES</h6>
         <li ng-repeat="value in options['cleaners']">
           <div class="checkbox">
             <label>
               <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.item_features.subcategory.string" checklist-value="value"> {{value | uppercase}}
             </label>
           </div>
         </li>

         <h6 class="filter-title">ALVEJANTES</h6>
         <li ng-repeat="value in options['bleaches']">
           <div class="checkbox">
             <label>
               <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.item_features.subcategory.string" checklist-value="value"> {{value | uppercase}}
             </label>
           </div>
         </li>
       </ul>
     </div>
   </li>

    <li>
      <button ng-click="open('manufacturers')"><%= t('graphs.filters.manufacturers') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.manufacturers.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.manufacturers') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['manufacturers']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.item_features.manufacturer.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <button ng-click="open('brands')"><%= t('graphs.filters.brands') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.brands.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.brands') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['brands']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.item_features.brand_2.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <button ng-click="open('skus')"><%= t('graphs.filters.skus') %><i class="icon-arrow-right"></i></button>
      <div class="filter-level" ng-class="{'filter-level-open': status.skus.open}">
        <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
        <h6 class="filter-title"><%= t('graphs.filters.skus') %></h6>
        <ul class="filter">
          <li ng-repeat="value in options['skus']">
            <div class="checkbox">
              <label >
                <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.item_features.sku.string" checklist-value="value"> {{value | uppercase}}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</div>
