<span class="total">
  <span class="pull-left text">{{total_visits}}/{{total_stores}} LOJAS &nbsp;</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{total_percentage}}%;">
      {{total_percentage}}%
    </div>
  </div>
</span>
<div class="box box-transparent">
  <div class="box-body box-body-transparent">

    <div class="row">
      <div class="col-xs-6">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title small-box-title">SEGMENTOS</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <!-- <button class="download" ng-click="exportReport('msl_segment')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button> -->
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_segment"
              id="data_segment"
              height="350"
              showXAxis="true"
              showYAxis="true"
              stacked="false"
              yAxisTickFormat="percentageYAxisLabelFunction()"
              tooltips="false"
              showValues="true"
              valueFormat="valueFormatPercentageFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="box box-default">
          <div class="box-head box-head-default">
            <h3 class="box-title small-box-title">REDES</h3>
              <ul class="box-tools">
                <li role="presentation">
                  <!-- <button class="download" ng-click="exportReport('msl_retail')" >
                    <i class="icon-download"></i><span class="sr-only">Download</span>
                  </button> -->
                </li>
              </ul>
          </div>
          <div class="box-body box-body-default">
            <nvd3-multi-bar-chart
              data="data_retail"
              id="data_retail"
              height="350"
              showXAxis="true"
              showYAxis="true"
              stacked="false"
              yAxisTickFormat="percentageYAxisLabelFunction()"
              tooltips="false"
              showValues="true"
              valueFormat="valueFormatPercentageFunction()"
              showControls="false"
              showLegend="true">
              <svg></svg>
            </nvd3-multi-bar-chart>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
