<li>
  <button ng-click="open('coordinators')"><%= t('graphs.filters.coordinators') %><i class="icon-arrow-right"></i></button>
  <div class="filter-level" ng-class="{'filter-level-open': status.coordinators.open}">
    <button ng-click="back()" type="button" class="filter-go-back"><i class="icon-arrow-left"></i>Back</button>
    <h6 class="filter-title"><%= t('graphs.filters.coordinators') %></h6>
    <ul class="filter">
      <li ng-repeat=" value in options['coordinators']">
        <div class="checkbox">
          <label >
            <input checklist-change="toggleFilter()" type="checkbox" checklist-model="filters.filter.itineraries.id.array" checklist-value="value[0]"> {{value[1] | uppercase}}
          </label>
        </div>
      </li>
    </ul>
  </div>
</li>
