<!DOCTYPE html>
<html>
<head>
  <title>RECKITT BENCKISER</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Aurora">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="dashboard">
    <div role="navigation" class="navbar navbar-fixed-top navbar-app">
      <div class="container-fluid">
        <div class="navbar-header">
          <button data-target="#main-menu" data-toggle="collapse" type="button" class="navbar-toggle collapsed"><span class="sr-only">Show/hide navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <button type="button" class="navbar-trigger sb-toggle-left"><span></span><span></span><span></span><span></span></button>
          <%= link_to root_url, class: "navbar-brand" do %>
            <img src="/assets/icn-310x310.png" alt="Reckitt">
          <% end %>
        </div>
        <div id="main-menu" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a data-toggle="dropdown" href="#" aria-expanded="false" role="button" class="dropdown-toggle navbar-nav-user"><strong><%= current_user.try(:name) %></strong><span>online</span><i class="icon-arrow-down"></i></a>
              <ul role="menu" class="dropdown-menu">
                <li><li><%= link_to t("menu.logout"), destroy_user_session_path, :method => :delete %>  </li></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="sb-slidebar sb-left sb-style-push">
      <div class="aside aside-left">
        <div class="aside-section">

          <% if can? :index, :shelf_space %>
            <%= link_to shelf_spaces_path, class: 'aside-link' do %>
              <i class="icon-chart"></i>SHELF SPACE</a></a>
            <% end %>
          <% end %>

          <% if can? :index, :extra_points %>
            <%= link_to extra_points_path, class: 'aside-link' do %>
              <i class="icon-presence"></i>PONTO EXTRA</a></a>
            <% end %>
          <% end %>

          <% if can? :index, :prices %>
            <%= link_to prices_path, class: 'aside-link' do %>
              <i class="icon-price"></i>PREÇO</a></a>
            <% end %>
          <% end %>

          <% if can? :index, :msls %>
            <%= link_to msls_path, class: 'aside-link' do %>
              <i class="icon-mixe"></i>MSL</a></a>
            <% end %>
          <% end %>

          <% if can? :index, Itinerary %>
            <%= link_to itineraries_path, class: 'aside-link' do %>
              <i class="icon-sort"></i>LOJAS</a></a>
            <% end %>
          <% end %>

          <% if can? :index, :map %>
            <%= link_to maps_path, class: 'aside-link' do %>
              <i class="icon-local"></i>MAPA</a></a>
            <% end %>
          <% end %>

          <% if can? :index, :picture %>
            <%= link_to pictures_path, class: 'aside-link' do %>
              <i class="icon-picture"></i>GALERIA DE FOTOS</a></a>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

</body>
</html>
